body {
    background-color: #eeeeee;
}

.cap-site{
    padding: 14px;
    background-color: white;
    margin-left: 14px;
}

.user-exit{
    position: absolute; 
    top: 18px; 
    right: 28px;
}

.btn-exit{ 
    color: #fff;
    background-color: #007bff;
    width: 200px;
    border-color: #007bff;
}


.messageoutput {
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
}


.messageinput {
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;

    
    /* Анимация появление записей */
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0s; /* Задержка перед началом */
}

.teg::before {

    content: "New message";
    color: red;
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show2 3s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 5s; /* Задержка перед началом */
}

@keyframes show2{
    0%{ opacity:1; }
    100% { opacity:0; }
}

@keyframes show{
    0%{ opacity:0; }
    100% { opacity:1; }
}




